
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
#hello {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.container{
    display: grid;
    place-content: center;
    height:100vh;
}